<h1 class="text-center">Step 1: Select Color</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="hexColor pink"></div>
    <div class="hexColor green"></div>
    <div class="hexColor orange"></div>
  </div>
  <div class="row justify-content-center">
    <div class="hexColor grey"></div>
    <div class="hexColor darkgreen"></div>
    <div class="hexColor white"></div>
  </div>
  <div class="row justify-content-center">
    <div class="hexColor blue"></div>
    <div class="hexColor darkblue"></div>
    <div class="hexColor brown"></div>
  </div>
  <div class="row justify-content-center">
    <div class="hexColor yellow"></div>
  </div>
</div>
