<!-- login.component.html -->
<form #loginForm="ngForm" (ngSubmit)="login()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <mat-form-field>
          <input matInput type="text" placeholder="Username" [(ngModel)]="username" name="username" required>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
        </mat-form-field>
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid" type="submit">Login</button>
      </mat-card-actions>
    </mat-card>
  </form>
  