<!-- login.component.html -->
<div class="container">

  <form>
    <div class="row">
      <div class="col-2">
        <mat-form-field>
          <input matInput type="text" name="username" placeholder="username" [(ngModel)]="username">
        </mat-form-field>
      </div>

      <div class="col-2">
        <mat-form-field>
          <input matInput type="text" name="password" placeholder="password" [(ngModel)]="password">
        </mat-form-field>
      </div>
    </div>
    <button class="hex" mat-stroked-button color="primary" (click)="login()">Login</button>


  </form>

</div>