@green-primary: #74C145;
@green-secondary: #53962C;

@orange-primary: #F89321;
@orange-secondary: #B56E15;

@grey-primary: #8B9CA1;
@grey-secondary: #627178;

@darkgreen-primary: #018E78;
@darkgreen-secondary: #036859;

@white-primary: #E8E8E8;
@white-secondary: #ACAEAD;

@blue-primary: #0AA8DE;
@blue-secondary: #057FA8;

@darkblue-primary: #022055;
@darkblue-secondary: #fff;

@pink-primary: #DD2B8D;
@pink-secondary: #A11B6F;

@brown-primary: #995B29;
@brown-secondary: #673913;

@yellow-primary: #FFE676;
@yellow-secondary: #C1AE50;