.circle {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.route-entry {
  cursor: pointer !important;
}

.example-label-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 0;
  max-width: 284px;
}

.example-result-card .example-value-label {
  font-weight: 600;
}

.mat-mdc-slider.mat-primary {
  --mdc-slider-handle-color: #000;
  --mdc-slider-focus-handle-color: #000;
  --mdc-slider-hover-handle-color: #000;
  --mdc-slider-active-track-color: #000;
  --mdc-slider-inactive-track-color: #000;
  --mdc-slider-with-tick-marks-active-container-color: #fff;
  --mdc-slider-with-tick-marks-inactive-container-color: #000;
  --mat-mdc-slider-ripple-color: #000;
  --mat-mdc-slider-hover-ripple-color: rgba(0, 0, 0, 0.05);
  --mat-mdc-slider-focus-ripple-color: rgba(0, 0, 0, 0.2);
}
