<div class="container search">
    <br>
    <div class="row">
        <input type="text" name="search" id="" placeholder="Search" style="width: 80%; margin-left: 10%;" [(ngModel)]="searchText" (input)="filterRoutes()">
    </div>
    
    <div class="">
        <div class="example-label-container" style="margin-left: 10%;">
            <label id="example-name-label" class="example-name-label" style="line-height: 46px;">Grade (1-7)</label>
          
            <mat-slider min="1" max="7" step="1" discrete>
                <input matSliderStartThumb (valueChange)="sliderLowChange($event)">
                <input matSliderEndThumb (valueChange)="sliderHighChange($event)">
            </mat-slider>
        </div>
    </div>
</div>


<mat-list>
    <mat-list-item *ngFor="let item of filteredItems" class="route-entry">
        <span matListItemAvatar>
            <div class="circle" [ngStyle]="{'background-color': selectColor(item.grade)}">
            <p class="number">{{item.grade}}</p>
          </div>
        </span>
        <span matListItemTitle>{{item.name}}</span>
        <span matListItemLine>{{item.author}}</span>
        <span matListItemMeta><div class="material-icons">star</div></span>
    </mat-list-item>
  </mat-list>